pandas is for data manipulation

In [1]:
import pandas as pd

In [4]:
df = pd.read_excel(r"C:\Users\ZBOOK\Downloads\LR.xlsx")
df.head()

        Date  advertisment   Sales
0 2010-01-02            90  1000.0
1 2011-01-02           100  1300.0
2 2012-01-02           110  1500.0
3 2013-01-02           150  2000.0
4 2014-01-02           190  2050.0

checking for null values in the dataset

In [7]:
df.isnull().sum()

Date            0
advertisment    0
Sales           1
dtype: int64

In [6]:
df.corr()

C:\Users\ZBOOK\AppData\Local\Temp\ipykernel_20356\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

              advertisment     Sales
advertisment      1.000000  0.992254
Sales             0.992254  1.000000